* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.container {
    grid-column: 2;
}
canvas {
    border: 1px solid #ddd;
}